@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/abril-fatface/abril-fatface-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./assets/fonts/abril-fatface/abril-fatface-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/abril-fatface/abril-fatface-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/abril-fatface/abril-fatface-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/abril-fatface/abril-fatface-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/abril-fatface/abril-fatface-v19-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/josefin-sans/josefin-sans-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./assets/fonts/josefin-sans/josefin-sans-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/josefin-sans/josefin-sans-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/josefin-sans/josefin-sans-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/josefin-sans/josefin-sans-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/josefin-sans/josefin-sans-v25-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

@keyframes moveUp {
    from { transform: translateY(99%); }
    to { transform: translateY(0%); }
}

@keyframes grow {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

@keyframes shrink {
    from { transform: scale(1); }
    to { transform: scale(0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slowFadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes blueToYellow {
    from { background-color: #70c9d3; }
    to { background-color: #f9c800; }
}

@keyframes blueToRed {
    from { background-color: #70c9d3; }
    to { background-color: #ff787a; }
}

@keyframes blueToGreen {
    from { background-color: #70c9d3; }
    to { background-color: #40bc93; }
}

@keyframes yellowToRed {
    from { background-color: #f9c800; }
    to { background-color: #ff787a; }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    cursor: default;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

.content {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: grid;
    grid-template-rows: 80px 1fr 160px;
}

.header {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    padding-top: 20px;
    color: #ff787a;
}


/* GAME BOARDS SECTION */

.gameboards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 16vw;
}

.player-name,
.computer-name {
    text-align: center;
    font-size: 1.75rem;
    color: #40bc93;
    font-family: 'Abril Fatface', serif;
    padding-bottom: 20px;
}

.player-board,
.computer-board {
    width: 360px;
    height: 360px;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.player-board > button,
.computer-board > button {
    height: 35px;
    width: 35px;
    background-color: #70c9d3;
    border: none;
    outline: none;
    border-radius: 2px;
}


/* FOOTER SECTION */

.footer {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.new-game,
.gameplay-text {
    width: 800px;
    background-color: #f9c800;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    color: white;
    font-size: 1.5rem;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-game-form {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.new-game-input {
    background-color: #f9c800;
    font-family: 'Abril Fatface', serif;
    font-size: 1.25rem;
    width: 250px;
    padding: 6px;
    border: none;
    outline: none;
    border-bottom: 2px dotted white;
}

.new-game-submit,
.replay-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    background-color: #f9c800;
    color: #ff787a;
    border: 2px solid #ff787a;
    padding: 8px 12px 4px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-game-submit {
    margin-left: 20px;
}

.new-game-submit:hover,
.replay-btn:hover {
    color: #40bc93;
    border: 2px solid #40bc93;
}

.new-game-submit:active,
.replay-btn:active {
    transform: scale(0.9);
}

.text-bottom-container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding-top: 30px;
}

.text-top,
.text-bottom {
    font-size: 1.75rem;
}


/* ANIMATIONS & DISPLAY STYLES */

.invisible {
    opacity: 0;
}

.hide {
    display: none;
}

.active {
    transform: scale(0.9);
}

.grow {
    animation: grow 0.75s ease-in;
}

.shrink {
    animation: shrink 0.75s ease-in;
}

.move-up {
    animation: moveUp 0.5s ease-in;
}

.fadeIn {
    animation: fadeIn 0.5s ease-in;
}

.fadeOut {
    animation: fadeOut 0.5s ease-in;
}

.slowFadeOut {
    animation: slowFadeOut 2s;
}

.blueToYellow {
    animation: blueToYellow 0.5s ease-in;
}

.blueToRed {
    animation: blueToRed 0.5s ease-in;
}

.blueToGreen {
    animation: blueToGreen 0.5s ease-in;
}

.yellowToRed {
    animation: yellowToRed 0.5s ease-in;
}

#ship {
    background-color: #f9c800;
}

#sunk {
    background-color: #ff787a;
}

#no-hit {
    background-color: #40bc93;
}


/* MOBILE & RESPONSIVE STYLES */

@media (max-width: 1000px) {
    .gameboards {
        gap: 10vw;
    }
}

@media (max-width: 850px) {
    .header {
        font-size: 3rem;
    }
    .player-name,
    .computer-name {
        font-size: 1.5rem;
    }
    .player-board,
    .computer-board {
        width: 250px;
        height: 250px;
    }
    .player-board > button,
    .computer-board > button {
        height: 24px;
        width: 24px;
    }
    .new-game,
    .gameplay-text {
        width: 600px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        padding-top: 40px;
    }
    .text-top,
    .text-bottom {
        font-size: 1.25rem;
    }
}

@media (max-width: 630px) {
    .content {
        grid-template-rows: 60px 1fr 160px;
    }
    .header {
        font-size: 2.75rem;
    }
    .gameboards {
        flex-direction: column;
        gap: 35px;
        padding-top: 140px;
        padding-bottom: 30px;
        overflow-y: scroll;
    }
    .player-name,
    .computer-name {
        font-size: 1.25rem;
        padding-bottom: 10px;
    }
    .new-game,
    .gameplay-text {
        width: 400px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 30px;
    }
    .new-game-msg {
        font-size: 1rem;
    }
    .new-game-input {
        font-size: 1rem;
        width: 170px;
    }
    .new-game-submit {
        font-size: 1rem;
    }
}

@media (max-width: 530px) {
    .content {
        grid-template-rows: 50px 1fr 120px;
    }
    .header {
        font-size: 2.25rem;
        letter-spacing: 0.3rem;
    }
    .gameboards {
        padding-top: 200px;
    }
    .new-game,
    .gameplay-text {
        width: 300px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 20px;
    }
    .text-bottom-container {
        padding-top: 20px;
    }
    .text-top,
    .text-bottom {
        font-size: 1rem;
    }
    .replay-btn {
        font-size: 1rem;
        padding: 8px 12px 6px;
    }
}

@media (max-width: 330px) {
    .content {
        grid-template-rows: 50px 1fr 80px;
    }
    .header {
        font-size: 2rem;
    }
    .gameboards {
        gap: 25px;
    }
    .player-name,
    .computer-name {
        font-size: 1.1rem;
    }
    .new-game,
    .gameplay-text {
        width: 280px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 15px;
    }
    .new-game-msg {
        font-size: 0.9rem;
        padding-top: 4px;
    }
    .new-game-input {
        font-size: 0.8rem;
        width: 150px;
    }
    .new-game-submit,
    .replay-btn {
        font-size: 0.9rem;
    }
    .new-game-submit {
        padding: 7px 11px 4px;
    }
    .new-game-form {
        padding-top: 15px;
    }
    .text-bottom-container {
        padding-top: 15px;
    }
    .text-top,
    .text-bottom {
        font-size: 0.8rem;
    }
}